repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.4.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-toml
          - id: check-added-large-files

    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.1.9
      hooks:
        - id: forbid-crlf
        - id: remove-crlf

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.812
      hooks:
          - id: mypy

    - repo: https://github.com/pycqa/isort
      rev: 5.8.0
      hooks:
          - id: isort

    - repo: https://github.com/psf/black
      rev: 20.8b1
      hooks:
          - id: black
